---
import FeaturedPost from "./FeaturedPost.astro";
import ReadTime from "./ReadTime.astro";

import { type Post } from "../types.ts";

interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
---

<section id="featured-posts" class="my-10 space-y-6 pb-5">
  <p class="meta font-bold">
    <span class="bg-accent mr-3 inline-block size-2"></span>Featured
  </p>
  <div class="grid grid-cols-1 gap-10 md:grid-cols-2">
    {posts.map((post) => <FeaturedPost post={post} />)}
  </div>
</section>
