---
import Divider from "./Divider.astro";
import Logo from "./Logo.astro";
import Nav from "./Nav.astro";

import { getCategories } from "../lib/wordpress.ts";

const categories = await getCategories();
const categoryLinks = categories.map((category) => ({
  href: `/section/${category.slug}/`,
  label: category.name,
}));
---

<header id="header" class="mx-auto w-full max-w-6xl px-6 focus:outline-none">
  <div class="border-ink flex items-center gap-8 border-b py-5">
    <Logo priority />
    <span class="elegant hidden md:inline-block"
      >Clarity without the comfort.</span
    >
    <Divider />
    <Nav
      class="font-medium"
      linkClass="text-muted"
      links={[
        {
          href: "/",
          label: "Home",
        },
        ...categoryLinks.map((link) => ({
          href: link.href,
          label: link.label,
        })),
      ]}
    />
  </div>
</header>
