---
import Divider from "./Divider.astro";
import Logo from "./Logo.astro";
import Nav from "./Nav.astro";
---

<header id="header" class="mx-auto w-full max-w-6xl px-6 focus:outline-none">
  <div class="border-ink flex items-center gap-8 border-b py-5">
    <Logo priority />
    <span class="elegant hidden md:inline-block"
      >Clarity without the comfort.</span
    >
    <Divider />
    <Nav
      class="font-medium"
      linkClass="text-muted"
      links={[
        {
          href: "/",
          label: "Home",
        },
        {
          href: "/essays/",
          label: "Essays",
        },
      ]}
    />
  </div>
</header>
