---
import { twMerge } from "tailwind-merge";

interface NavLink {
  href: string;
  label: string;
  rel?: string;
  nofollow?: boolean;
  blank?: boolean;
}

interface Props {
  links?: NavLink[];
  class?: string;
  linkClass?: string;
  heading?: string;
  tag?: keyof astroHTML.JSX.IntrinsicElements;
  headingClass?: string;
}

const {
  links = [{ href: "/", label: "Home" }],
  class: className,
  linkClass,
  heading,
  tag = "h3",
  headingClass,
} = Astro.props;

const path = Astro.url.pathname;
const Tag = tag as any;
---

<nav class={twMerge("meta flex gap-6", className)}>
  {
    heading && (
      <Tag class={headingClass ? headingClass : undefined}>{heading}</Tag>
    )
  }
  {
    links.map((link) => (
      <a
        href={link.href}
        aria-current={path === link.href ? "page" : undefined}
        target={link.blank ? "_blank" : undefined}
        rel={
          link.blank && link.nofollow
            ? "nofollow noopener noreferrer"
            : undefined
        }
        class={twMerge(
          "text-ink hover:text-accent transition-colors aria-[current=page]:font-semibold",
          linkClass,
        )}
      >
        {link.label}
      </a>
    ))
  }
</nav>
